.deps/
.libs/
.*.swp
Makefile
Makefile.in
aclocal.m4
/build-aux/
configure
config.*
/docs/reference/html/
/docs/reference/libgsignon-glib*
!/docs/reference/libgsignon-glib-sections.txt
/docs/reference/version.xml
/docs/reference/xml/
gtk-doc.make
/INSTALL
/libgsignon-glib/signon-errors-map.c
/libgsignon-glib/signon-marshal.c
/libgsignon-glib/signon-marshal.h
/libgsignon-glib/sso-*-gen.*
/libgsignon-glib/sso-*-gen-doc-*
libtool
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
patches/
stamp-h1
*~
*.cache
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
