#!/usr/bin/make -f
# -*- makefile -*-

DEB_CONFIGURE_EXTRA_FLAGS += --enable-dbus-type=session

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-dbus-type=session --enable-gtk-doc --enable-introspection=yes

override_dh_auto_test:
	true
